* {
  box-sizing: border-box;
}

body {
  padding:1em;
  font-family: Arial Narrow, Arial, sans-serif; 
}

.wrapper {
  display: block;
  min-width: 40em;
  max-width: 60em;
  margin: 0 auto;
}

.line {
  display: block;
  width: 100%; 
  overflow: auto;
}

.codeline {
    overflow: hidden;
}

.lineno {
    font-family: Consolas,Monaco,"Andale Mono",monospace;
    padding: 0.5em;
    width: 2.7em;
    float: left;
    color: #ccc;
    background-color: #f5f2f0;
    border-left: 4px solid #111;
    border-right: 1px solid #e0e0e0;
    text-align: right;
}

.lineno > span {
    font-size: 0.8em;
}

.line:hover .lineno > span {
    font-weight: bold;
}

pre[class*="language-"] {
  margin: 0;
  padding: 0.5em 1em;
}

pre[class*="language-"] > code[data-language] {
  overflow: hidden;
}

.commentary {
  width: 100%;
  padding-left: 3.2em;
}

.annotated .commentary {
  padding-bottom: 1em;
}

.commentary pre {
  display: block;
}

code:before {
  display: none !important;
}

p {
  padding: 0em;
  margin: 0.5em;
}
